/ {
	aliases {
		lora0 = &lora;
	};
};

&pinctrl {

	spi0_sleep: spi0_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 27)>,
					<NRF_PSEL(SPIM_MOSI, 0, 30)>,
					<NRF_PSEL(SPIM_MISO, 0, 31)>;
			low-power-enable;
		};
	};
	spi0_default: spi0_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 27)>,
					<NRF_PSEL(SPIM_MOSI, 0, 30)>,
					<NRF_PSEL(SPIM_MISO, 0, 31)>;
		};
	};
};

&spi0 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	cs-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";
	lora: sx1261@0 {
		compatible = "semtech,sx1261";
		reg = <0>;
		label = "sx1261";
		reset-gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
		busy-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
		dio1-gpios = <&gpio0 28 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		spi-max-frequency = <1000000>;
		dio2-tx-enable;
	};
};
